.center {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

label.btn{
    background-color: #FFD7A4;
    border: 1px solid black;
}

label.btn:hover, label.btn.active, label.btn:active, label.btn.focus, label.btn:focus{
    background-color: #FFC070;
    box-shadow: 0 0 0 0.2rem rgb(255,195,164,.25);
}

.btn-group-vertical{
    width: 60%;
    margin-top: 10px;
}

/*input .btn {*/
/*    background-color: #FF8E00;*/
/*    border-color: #FF8E00;*/
/*}*/

input[type="submit"], input[type="button"]{
    margin-top: 15px;
    background-color: #FFC070;
    border-color: #FFC070;
}

h2{
    margin: 10px;
}

.container{
    margin-top: 40px;
    margin-bottom: 40px;
}

.results{
    text-align: center;
}

#piechart{
    width: 100%;
}

body {
    background-color: #FF5900;
}

label {
    color: #FFD7A4;
}

.color-primary-0 { color: #FF5900 }	/* Main Primary color */
.color-primary-1 { background-color: #FFC3A4 }
.color-primary-2 { color: #FFA270 }
.color-primary-3 { color: #D94C00 }
.color-primary-4 { color: #A73A00 }

.color-secondary-1-0 { color: #FF8E00 }	/* Main Secondary color (1) */
.color-secondary-1-1 { background-color: #FFD7A4 }
.color-secondary-1-2 { color: #FFC070 }
.color-secondary-1-3 { color: #D97900 }
.color-secondary-1-4 { color: #A75D00 }