{% extends 'PollApp/base.html' %}

{% block head_block %}
    <title>{{poll_info.topic}} | Quicky Poll</title>
{% endblock %}

{% block body_block %}
    <div class="container center" align="center">
        <h2>{{poll_info.topic}}</h2>

        <form method="post">
            <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                {% if poll_answers %}
                    {% for answer in poll_answers %}
                        <label class="btn">
                            <input type="radio" name="options" id="answer_{{answer}}" value="{{answer}}"> {{answer}}
                        </label>
                    {% endfor %}
                {% else %}
                    <p>Could not find answers</p>
                {% endif %}
                {% csrf_token %}
            </div>
            <div>
                <input class="btn" type="submit" value="Submit">
            </div>
            <div>
                <input class="btn" type="button" value="Copy Link" onclick="copyToClipboard()">
            </div>
        </form>
    </div>
    <script>
        function copyToClipboard() {
            var element = document.createElement('textarea');
            element.value = window.location;
            element.setAttribute('readonly', '');
            element.style = {position: 'absolute', left:'-9999px'};
            document.body.appendChild(element);
            element.select();
            document.execCommand('copy');
            document.body.removeChild(element);
        }
    </script>
{% endblock %}